@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

:root {
  --bg-primary: #f0f0f0;
  --bg-card: rgba(255, 255, 255, 0.05);

  --accent-gold: #f5c842;
  --accent-orange: #ff6b35;

  --text-primary: #947318;
  --text-secondary: #888e98;

  --border-glass: rgba(255, 255, 255, 0.1);
  --radius-md: 16px;
  --font-main: 'Outfit', sans-serif;

  --glass-card-login : #0c0c0c1a;
}

/* Reset dasar */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  color: var(--text-primary);
  line-height: 1.6;
  min-height: 100vh;
}

.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fefefe;
}

a {
  color: inherit;
  text-decoration: none;
}

.about {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 50vh;
  gap: 0px;
  /* background-color: #dad7d7; */
}

.about-title {
  align-self: center;
  padding: 5px 15px;
  border-radius: 15px;
  border: solid 2px var(--accent-gold);
  margin-bottom: 20px;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
}

.about-title:hover {
  transform: scale(1.05);
  cursor: default;
  background-color: var(--accent-gold);
  color: white;
}

.about-description {
  cursor: default;
  text-align: justify;
  margin-bottom: 5px;
  align-self: center;
  padding-right: 100vw;
  font-family: Cormorant Garamond;
  font-weight: 1000;
  font-size: 35px;
  padding: 0px 10px;
  color: var(--text-primary);
  max-width: 600px;
  opacity: 1;
}
